<div class="container-apropos  flex ">
    <section class="aboutUs container">
        <h3 class="titreAboutUs" id="titreAboutUs" data-aos="flip-left" data-aos-offset="200" data-aos-easing="ease-in-sine">À propos de nous</h3>
        <div class="content-aboutUs container flex aic jcc">
            <!-- ------------section Left-------------- -->
            <div class="left flex-1">
                <h2 data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-sine">Qui sommes-nous?</h2>
            </div>
            <!-- ------------section 4 right-------------- -->
            <div class="right flex-1 ">
                <p data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine">
                    Nous pourrons choyer vos bambins âgés entre 10 semaines et 3 ans, soit jusqu’à l’entrée à l’école maternelle. Nous sommes agréées et diplômées des métiers de la petite enfance.<br><br>
                    Les grandes lignes de notre projet d'accueil portent sur la bienveillance, le respect du rythme de chaque enfant, l'éducation positive, l'accompagnement à l'autonomie, la motricité libre et le maternage proximal.<br><br>
                    Laure, Christidie et Laurie
                </p>
            </div>
            <div class="papillon" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine">
                <img src="/assets/images/imagesBdr/deco/Papillonpapillon.png" alt="papillon">
            </div>
        </div>
    </section>

    <!--            Card nounous       -->
    <div class="nounous  flex">
        <h3 class="titreNounous" data-aos="flip-right" data-aos-offset="200" data-aos-easing="ease-in-sine">Les nounous</h3>
        <div class="cards-body container  flex jcse aic">

            <div class="card" data-aos="zoom-out-right" data-aos-offset="200">
                <img src="/assets/images/imagesBdr/nounous/Laure.jpg" class="card-img" alt="">
                <div class="content">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <h2 class="title">Laure</h2>
                    <p class="info">Assistante maternelle agréée depuis 2012, j'ai rejoint la MAM Brin de Rêves à la rentrée 2021. Adepte de l’éducation positive, de la découverte par l’expérimentation et de motricité libre, je laisse beaucoup de liberté d’exploration aux enfants.

                    </p>
                </div>
                <div class="clique">
                    <img src="/assets/images/imagesBdr/Icon/clique.png" alt="">
                </div>
            </div>
            <div class="card" data-aos="zoom-out-down" data-aos-offset="300">
                <img src="/assets/images/imagesBdr/nounous/christidie.jpg" class="card-img" alt="">
                <div class="content">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <h2 class="title">Christidie</h2>
                    <p class="info">Après avoir travaillé durant plusieurs années des crèches, j'ai souhaité accompagner les enfants et leurs parents, de manière plus familiale.
                        Le métier d’assistante maternelle était une évidence et travailler en MAM est devenu mon idéal.

                    </p>
                </div>
                <div class="clique b">
                    <img src="/assets/images/imagesBdr/Icon/clique.png" alt="">
                </div>
            </div>
            <div class="card" data-aos="zoom-out-left" data-aos-offset="300">
                <img src="/assets/images/imagesBdr/nounous/Laurie.jpg" class="card-img" alt="">
                <div class="content">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <h2 class="title">Laurie</h2>
                    <p class="info">
                        J’ai travaillé pendant 4 ans en crèche. La MAM me permet de prendre le temps et être à l’écoute des besoins des enfants et de leurs familles.
                        Etre en équipe m'est nécessaire afin d’échanger sur nos pratiques professionnelles.
                    </p>
                </div>
                <div class="clique">
                    <img src="/assets/images/imagesBdr/Icon/clique.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>
