<div class="sliderContent  container flex jcsb aic">
    <!-- Titre et bouton de la section -->
    <div class="titreSlider stuff flex-1">
        <h2 data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine">Bienvenue à la MAM</h2>
        <h1 data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-sine">Brin de Rêves</h1>
        <div class="push"></div>
        <a href="#"><button type="submit" class="btn-slider">Nous contacter</button></a>
    </div>

    <!-- Composant Carousel -->
    <div class="sliderClass flex-1" *ngIf="images && images.length > 0">
        <!-- Afficher les images du carrousel -->
        <img *ngFor="let image of images; let i = index" [src]="image.imageSrc" [alt]="image.imageAlt"
            [ngClass]="{'image-active': selectedIndex === i}" class="fade">

        <!-- Afficher les indicateurs de diapositives -->
        <div *ngIf="indicators" class="carousel-dot-container">
            <span *ngFor="let dot of images; let i=index" class="dot" [ngClass]="{'active': selectedIndex === i}"
                (click)="selectImages(i)"></span>
        </div>

        <!-- Afficher les boutons de contrôle du carrousel -->
        <button *ngIf="controls" class="btn-carousel btn-prev">
            <i class="fa-solid fa-caret-left fa-beat" (click)="onPrevClick()">
            </i>
        </button>
        <button *ngIf="controls" class="btn-carousel btn-next">
            <i class="fa-solid fa-caret-right fa-beat" (click)="onNextClick()">
            </i>
        </button>
    </div>
</div>