<div class="grand-parent container">
    <form class="form-parent" [formGroup]="signinForm" (ngSubmit)="handleConnect()">
        <div class="form-container">
            <div class="form" id="sign-in-form">
                <h1 class="signTitle">Connexion</h1>
                <div class="fields">
                    <div class="fields-item">
                        <input type="text" name="email" placeholder="Votre  email*" [formControl]='email'>
                        <div class="error" *ngIf="(email.dirty || email.touched) && !email.valid">
                            <p *ngIf="email.hasError('required')">
                                L'adresse email est obligatoire
                            </p>
                            <p *ngIf="!email.hasError('required')">
                                L'adresse email n'est pas valide
                            </p>
                        </div>
                    </div>
                    <div class="fields-item">
                        <input type="password" name="password" placeholder="Mot de passe*" [formControl]='password'>
                        <div class="error" *ngIf="(password.dirty || password.touched) && !password.valid">
                            <p *ngIf="password.hasError('required')">
                                Le mot de passe est obligatoire 
                            </p>
                            <p *ngIf="!password.hasError('required')">
                                Le mot de passe doit avoir au moins 6 caractères
                            </p>
                        </div>
                    </div>
                    
                </div>
                <div class="submit-container">
                    <button type="submit" class="btn" [disabled]="!this.signinForm.valid">se connecter</button>
                    <p class="link"><a routerLink="/signup">Vous n'avez pas de compte ? Inscrivez-vous</a></p>
                    <p class="link"><a href="#">Mot de passe oublié</a></p>
                </div>
            </div>
        </div>
    </form>
    
</div>
