.grand-parent {
    flex-direction: column;
}

a {
    text-decoration: none;
}

.form-parent {
    width: 900px;
    height: 550px;
    background: var(--main-color-green);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.75);
    margin: 0px auto 150px auto;
    background: url(/assets/images/imagesBdr/deco/gribouille.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 150px;
}

.p {
    color: var(--main-color);
    background-color: var(--main-color-orange);
    width: 50vw;
    margin-top: 100px;
    margin-bottom: -100px;
    width: 890px;
    border-radius: 10px;
    height: 20px;
    padding: 10px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.75);
    text-align: center;
}

.login {
    margin-left: 200px;
}

.p-success {
    color: var(--main-color);
    background-color: green;
    width: 50vw;
    margin-top: 100px;
    margin-bottom: -100px;
    width: 890px;
    border-radius: 10px;
    height: 20px;
    padding: 10px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.75);
    text-align: center;
}

.form-container {
    position: relative;
    width: 50%;
    min-width: 300px;
    height: 100%;
    background: var(--main-color-green);
    transition: 1s;
    left: 0;
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(2, calc(850px/2));
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    transition: 1s;
}


.signTitle {
    width: 100%;
    text-align: center;
    font-family: pacifico, sans-serif;
    font-size: calc(1.5625rem + 0.9375vw + ((100vw - 25rem) / 75) * 0.9375);
    font-weight: 500;
    text-transform: capitalize;
    color: var(--main-color);
    text-decoration: underline;
    text-underline-offset: 0.8rem;
    text-decoration-thickness: 3px;
    margin-top: 25px;
}

.fields,
.submit-container {
    position: relative;
    width: 100%;
}

.fields-item {
    margin-bottom: 30px;

}

input {
    display: block;
    margin-left: 50px;
    width: 80%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    height: 30px;
    background: rgb(177, 177, 177);
    color: #fff;
}

.error {
    color: var(--main-color);

}

.error p {
    font-size: 12px;
    margin-left: 50px;

}

.btn:disabled{
    cursor: not-allowed;
}

::placeholder {
    color: var(--main-color);
}

.btn {
    color: #fff;
    border: none;
    background-color: var(--main-color-orange);
    padding: 10px 40px;
    font-size: 15px;
    text-transform: capitalize;
    display: block;
    margin: auto;
    color: var(--main-color);
    cursor: pointer;
    border-radius: 800px;
    margin-bottom: 20px;
    transition: .5s;
}

input:focus {
    background: var(--main-color);
    color: var(--main-color-black);
}

a {
    color: var(--main-color);
}

.link {
    text-align: center;
    cursor: pointer;
    transition: .5s;
    opacity: 0.5;
    margin: 20px;
    text-decoration: underline;
}

.link:hover {
    opacity: 1;
}

#sign-up-form {
    margin: 0px;
}

#sign-up-form .title {
    margin-bottom: 30px;
}


@media screen and (max-width : 992px) {
    .form-parent {
        width: 70vw;
        min-width: 300px;
        overflow: hidden;
    }

    .form-container {
        width: 100%;
        grid-template-columns: repeat(2, 100%);
    }

    .sign-up-img,
    .sign-in-img {
        display: none;
    }

    .p,
    .login {
        width: 80%;
        margin: 50px auto;
    }

    input,
    .form-item {
        margin: 20px auto;
    }

}