.sliderContent {
    margin: 30px;
    background: no-repeat url(/assets/images/imagesBdr/deco/dream.png);
    background-position: left;
    background-size: contain;
    overflow: hidden;

}

.titreSlider {
    margin: 0 auto;
    width: 100%;
    z-index: 9;

}

.titreSlider h1 {
    color: var(--main-color-green);
    font-family: 'Comfortaa', cursive;
    font-weight: 800;
    font-size: 3em;
    line-height: 36px;
    margin: 15px auto;
    overflow-y: visible;

}

.titreSlider h2 {
    color: var(--main-color-orange);
    font-family: 'Comfortaa', cursive;
    font-size: 2em;
}

.mySlides {
    display: none;
}


.btn-slider {
    color: #fff;
    border: none;
    background-color: var(--main-color-orange);
    padding: 10px 40px;
    font-size: 15px;
    text-transform: capitalize;
    /* display: block; */
    margin: auto;
    color: var(--main-color);
    cursor: pointer;
    border-radius: 800px;
    margin-bottom: 20px;
    transition: .5s;
    margin-left: 3em;
}

.sliderClass img {
    width: 60vw;
}

#slide {
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
}

#slide img {
    border-radius: 8px;
    width: 100%;
    height: 50vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
} 

#precedent,
#suivant {
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 1;
    position: absolute;
    font-size: 30px;
    color: var(--main-color);
}

#precedent img,
#suivant img {
    height: 0.8em;
} 

#precedent {
    left: 40;
    bottom: 160;
}

#precedent img {
    transform: rotate(180deg);

}

#suivant {
    right: 40;
    bottom: 160;
} 

#slide:hover #precedent,
#slide:hover #suivant {
    opacity: 0.9;
} 




/*----Media query-------*/


@media (max-width: 992px) {
    .sliderContent {
        width: 100vw;
        margin: 0;
        background: none;
    }

    #suivant {
        bottom: 60;
    } 
    

#precedent {
    bottom: 60;
}

    #slide img {
        /* padding:0; */
        border-radius: 0;
        height: 325px;
    }

    .sliderClass {
        margin: 0;
        flex: 2;
    }

    .sliderClass img {
        width: 100vw;
    }

    .titreSlider {
        display: none;
    }

    .imgSun {
        display: none;
    }
}