header {
    display: flex;
    background-color: var(--main-color-green);
    height: 18vh;
    position: sticky;
    top: 0;
    z-index: 100;
    flex-direction: row-reverse;
    align-items: center;
    font-family: 'Comfortaa', cursive;
}

.navbar {
    width: 50vw;
}

.logo-container h2 {
    color: var(--main-color);
    font-size: 1.5em;
    text-align: center;
}

header nav .logo img {
    width: 12em;
    height: 7em;
    margin: 0;
}


header nav ul {
    justify-content: space-evenly;
    width: 100%;
    height: 18vh;
    gap: 20px;
}


header nav ul li a {
    text-decoration: none;
}


header nav ul li a .icon {
    width: 100%;
    height: 3em;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
}

header nav ul li a .icon img {
    width: 2.7em;
    height: 2.7em;
}

nav ul li a .name {
    position: relative;
    font-size: 1.4em;
    height: 2em;
    width: 100%;
    display: block;
    overflow: hidden;
    margin: 0 auto 0.1em;
    color: #ffffd6;
}

nav ul li a .name:before {
    content: attr(data-text);
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
}

nav ul li a:hover .name {
    transform: translateY(-10px);
    transition: 0.5s;
}

nav ul li a:hover .icon i img {
    transform: translateX(5px);
    transition: 0.5s;
}


@media(max-width:768px) {
    .header {
        width: 100%;
    }

    header nav .logo img {
    width: 7em;
    height: 4.5em;
    margin-left: 1em;
}

    .navbar {
        position: fixed;
        top: 0;
        height: 100vh;
        width: 100vw;
        background-color: var(--main-color-green);
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.9s ease-in-out;
        display: none;
        justify-content: center
    }

}

.close {
    display: block;
    z-index: 2;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
}


.logo-container h2 {
    display: none;
}



@media(max-width:576px) {
    header {
        height: 6em;
    }

    nav .menuToggle {
        font-size: 1em;
    }

    nav  .logo img {
        width: 7em;
        height: 4.5em;
        margin: 0;
    }

    header {
        width: 100%;
    }

    .logo-container .logo {
        margin-bottom: 0;
        padding-bottom: 0em;
    }
}