<header>
    <nav class="nav container flex jcsb aic">
        <div class="logo">
            <img src="/assets/images/imagesBdr/Logo/LogoFigma.png" alt="">
        </div>
        <div class="navbar">
            <ul class="ul flex aic">
                <li class="navbar-menu">
                    <a href="#">
                        <div class="icon">
                            <i class="fa"><img src="/assets/images/imagesBdr/Icon/accueil.png" alt=""></i>
                        </div>
                        <div class="name">Accueil</div>
                    </a>
                </li>
                <li class="navbar-menu">
                    <a href="#">
                        <div class="icon">
                            <i class="fa"><img src="/assets/images/imagesBdr/Icon/call.png" alt=""></i>
                        </div>
                        <div class="name">Contact</div>
                    </a>
                </li>
                <li class="navbar-menu">
                    <a href="#">
                        <div class="icon">
                            <i class="fa"><img src="/assets/images/imagesBdr/Icon/plume.png" alt=""></i>
                        </div>
                        <div class="name">À propos</div>
                    </a>
                </li>
                <li class="navbar-menu">
                    <a href="#">
                        <div class="icon">
                            <i class="fa"><img src="/assets/images/imagesBdr/Icon/parents.png" alt=""></i>
                        </div>
                        <div class="name">Parents</div>
                    </a>
                </li>
                <li class="navbar-menu">
                    <a href="#">
                        <div class="icon">
                            <i class="fa"><img src="/assets/images/imagesBdr/Icon/baby-boy.png" alt=""></i>
                        </div>
                        <div class="name">Connexion</div>
                    </a>
                </li>
                
            </ul>
        </div>
    </nav>
</header>