<div class="contactMere">
    <section class="contact">
        <div class="titreContact" id="titreContact">
            <h3 data-aos="flip-left" data-aos-offset="200" data-aos-easing="ease-in-sine">Contact</h3>
        </div>

        <!--  Partie Contact-Infos -->

        <div class="contact-box">
            <div class="contact-list" data-aos="fade-down" data-aos-offset="200" data-aos-easing="ease-in-sine">
                <div class="contact-list-item ">

                    <!-- <h3 class="titreContent">Brin de Rêves</h3> -->
                    <div class="list">
                        <h4 class="h4">
                            <i class="fa"><img src="/assets/images/imagesBdr/Icon/accueil.png" alt=""></i>
                            <!-- - <span>Adresse:</span> -->
                        </h4>
                        <p>5 Rue Aymé kunc 31600 Muret</p>
                    </div>
                    <div class="list">
                        <h4 class="h4">
                            <i class="fa"><img src="/assets/images/imagesBdr/Icon/call.png" alt=""></i>
                            <!-- - <span>Tel:</span> -->
                        </h4>
                        <div class="tel">
                            <p>Laure:</p>
                            <p>Tel: 06 02 52 04 47</p>
                        </div>
                        <div class="tel">
                            <p>Christidie:</p>
                            <p>Tel: 06 21 89 57 37</p>
                        </div>
                        <div class="tel">
                            <p>Laurie:</p>
                            <p>Tel: 06 32 71 07 04</p>
                        </div>
                    </div>
                    <div class="list">
                        <h4 class="h4">
                            <i class="fa"><img src="/assets/images/imagesBdr/Icon/email.png" alt=""></i>
                            <!-- - <span>Email:</span> -->
                        </h4>
                        <p>mam.brindereves@gmail.com</p>
                    </div>
                </div>
            </div>


            <!--  ----------------------Partie Contact-Message--------------------->

            <div class="contact-form-wrapper flex  aic jcc" data-aos="fade-up" data-aos-offset="200"
                data-aos-easing="ease-in-sine">
                <form class="form" [formGroup]="contactForm" (ngSubmit)="envoyerMessage()">
                    <div class="formControl">
                        <label for="name">Nom</label>
                        <input type="text" id="name" name="name"  placeholder="Votre nom" [formControl]="name" >
                        <div class="error" *ngIf="(name.dirty || name.touched) && !name.valid">
                            <p *ngIf="name.hasError('required')">
                                Le nom est obligatoire 
                            </p>
                            <p *ngIf="!name.hasError('required')">
                                Le nom doit avoir au minimum 2 caractères
                            </p>
                        </div>
                    </div>
                    <!-- ---ERREUR------Si le champ a été toucher (dirty) et le name n'est pas valid----- -->
                    <div>
                        <label for="subject">Objet</label>
                        <input type="text" id="subject" name="subject" required  placeholder="L'objet de votre message" [formControl]="subject">
                    </div>
                    
                    <div class="formControl">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email"  placeholder="Votre adresse email" [formControl]="email">
                        <div class="error" *ngIf="(email.dirty || email.touched) && !email.valid">
                            <p *ngIf="email.hasError('required')">
                                L'adresse email n'est pas valide
                            </p>
                            <p *ngIf="!email.hasError('required')">
                                L'adresse email n'est pas valide
                            </p>
                        </div>
                    </div>
                    <!-- ---ERREUR------Si le champ a été toucher (dirty) et le name n'est pas valid----- -->
                    <div class="formControl">
                        <label for="message">Message</label>
                        <textarea id="message" name="message"  rows="8" [formControl]="message"></textarea>
                        <div class="error" *ngIf="(message.dirty || message.touched) && !message.valid">
                            <p *ngIf="message.hasError('required')">
                                Votre message doit avoir au minimum 10 carartères
                            </p>
                            <p *ngIf="!message.hasError('required')">
                                Votre message doit avoir au minimum 10 caractères
                            </p>
                        </div>
                    </div>
                    <button class="btn" [disabled]="!this.contactForm.valid" type="submit" >Envoyer</button>
                </form>               
            </div>
        </div>
    </section>

</div>