.contactMere{
    padding-top: 30px;
    position: relative;
}
h3, h4{
    font-family: 'Pacifico', cursive;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:no-repeat url(/assets/images/imagesBdr/deco/rainbow.png); 
    
}
.titreContact h3{
    color: #478056;
    font-size: 3em;
    text-decoration: underline ;
    margin: 0;
    text-underline-offset: 0.8rem;
    text-decoration-thickness: 1px ;
    
}

.contact-box {
    width: 80%;
    margin: 60px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contact-list h3{
    color: var(--main-color);
    font-size: 2em;
    transform: translate(-50%, -50);
    text-align: center;
    padding-bottom: 40px;
    text-decoration: underline ;
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 1px;
    
}

::placeholder{
    color:var(--main-color-black);
    opacity: 0.5;
    padding-left: 5px;
}


.contact-list-item{
    height: 100%;

}

.contact-list,
.contact-form-wrapper {
    width: 50%;
    /* padding: 0 0% 10% 0%; */
    height: 500px;
}

.contact-list {
    background-color:var(--main-color-green);
    border-radius: 10px 0 0 10px;
}

.contact-list p{
    font-size: 1.2em;
    margin: 1.4em auto 7px auto;
    width: 80%;
    text-align: center;
}

.tel {
    width: 80%;
    margin: 5px  auto;
}

.tel p{
    padding: 0;
    margin: 3px;
}

.tel p:first-child{
    font-family: 'Pacifico', cursive;
    font-size: 1.4em;
}

.contact-list h3{
    color: var(--main-color);
}

.contact-list h4 {
    font-family: 'Comfortaa', cursive;
    color: #ffffd6;
    font-size: 1.7em;
    margin-left: 2.5em;
    
}

.contact-list h4 i img{
    width: 1.2em;
    height: 1.2em;
}

.contact-list h4 span{
    text-decoration: underline ;
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 1px;
}

.list{
    padding-bottom: 1em;
}

.contact-form-wrapper {
    border-radius: 0 10px 10px 0;
    background: url(/assets/images/imagesBdr/deco/baby.jpg);
    background-size:cover;
}

label{
    color: var(--main-color-black);
    font-weight: 600;
}

form{
    
    width: 80%;
}

input, textarea{
    display: block;
    width: 100%;
    margin-bottom: 30px;
    text-transform: capitalize;
    border: none;
    border-radius: 5px;
    height: 30px;
    background:rgb(177, 177, 177);
    color: #fff;
}

.btn{
    color: #fff;
    border: none;
    background-color: var(--main-color-orange);
    padding: 10px 40px;
    font-size: 15px;
    text-transform: capitalize;
    display: block;
    margin: auto;
    color: var(--main-color);
    cursor: pointer;
    border-radius: 800px;
    margin-bottom: 4em;
    transition: .5s;
}

.btn:hover{
    background: var(--main-color);
    color:var(--main-color-black);
}

textarea{
    height: 30%;
    background-color: #478056;
} 

.p{
    display: flex;
    background-color: var(--main-color-orange);
    color:var(--main-color);
    height: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 75%;
    margin-bottom: 0;
    border-radius: 5px;
}

.p-sucess{
    display: flex;
    background-color: var(--main-color-green);
    color:var(--main-color);
    height: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 75%;
    margin-bottom: 0;
    border-radius: 5px;
}

@media only screen and (max-width: 992px) {
    .contact-list {
        width: 100%;
        height: 400px;

    }
    .contact-form-wrapper {
        width: 100%;
        height: 500px;
    }

    .contact-list p{
        text-align: center;
    }

    .contact-list h4{
        text-align: left;
        color: var(--main-color);
    }

    .contact-box {
        flex-direction: column;
        width: 100%;
    }
}
@media (max-width: 576px){
    .contact-box{
        margin: 0;
    }
    .contactMere{
        padding-top: 0;
    }
    .titreContact h3{
        font-size: 2em;
    }
    .titreContact{
        position: absolute;
        top: 30;
    }

    .contact-list h3{
        font-size: 1.4em;
    }

    .contact-list p{
        font-size: 1em;
    }

    .contact-list h4{
        font-size: 1.2em;
    }

    .contact-form-wrapper, .contact-list{
        border-radius: 0px;
    }

    form{
        padding-top: 90px;
    }
}
    