<div class="contactMere  container">
    <section id="contact" class="contact ">
        <div class="titreContact" id="titreContact">
            <h3 data-aos="flip-left" data-aos-offset="200" data-aos-easing="ease-in-sine">Contact</h3>
        </div>

        <!--  Partie Contact-Infos -->

        <div class="contact-box">
            <div class="contact-list" data-aos="fade-down" data-aos-offset="200" data-aos-easing="ease-in-sine">
                <div class="contact-list-item mt-30">

                    <h3 class="titreContent">mam Brin de Rêves</h3>
                    <div class="list">
                        <h4 class="h4">
                            <i class="fa"><img src="/assets/images/imagesBdr/Icon/accueil.png" alt=""></i>
                            - <span>Adresse:</span>
                        </h4>
                        <p>5 Rue Aymé kunc 31600 Muret</p>
                    </div>
                    <div class="list">
                        <h4 class="h4">
                            <i class="fa"><img src="/assets/images/imagesBdr/Icon/call.png" alt=""></i>
                            - <span>Tel:</span>
                        </h4>
                        <div class="tel flex jcsa  aic">
                            <p>Laure:</p>
                            <p>06 02 52 04 47</p>
                        </div>
                        <div class="tel flex jcc  aic">
                            <p>Christidie:</p>
                            <p>06 21 89 57 37</p>
                        </div>
                        <div class="tel flex jcsa  aic">
                            <p>Laurie:</p>
                            <p>06 32 71 07 04</p>
                        </div>
                    </div>
                    <div class="list">
                        <h4 class="h4">
                            <i class="fa"><img src="/assets/images/imagesBdr/Icon/email.png" alt=""></i>
                            - <span>Email:</span>
                        </h4>
                        <p>mam.brindereves@gmail.com</p>
                    </div>
                </div>
            </div>


            <!--  Partie Contact-Message-->
            <div class="contact-form-wrapper flex  aic jcc" data-aos="fade-up" data-aos-offset="200"
                data-aos-easing="ease-in-sine">
                <form class="form mt-40">
                    <div>
                        <label for="name">Nom</label>
                        <input type="text" id="name" name="name" required placeholder="Votre nom">
                    </div>
                    <div>
                        <label for="subject">Objet</label>
                        <input type="text" id="subject" name="subject" required placeholder="L'objet de votre message">
                    </div>
                    <div>
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" required placeholder="Votre adresse email">
                    </div>
                    <div>
                        <label for="message">Message</label>
                        <textarea id="message" name="message" required rows="8"></textarea>
                    </div>
                    <button class="btn" type="submit">Envoyer</button>
                </form>
            </div>
        </div>
    </section>

</div>