.contactMere {
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    margin: 40px;
}

/* ----------Titre Contact---------- */
.titreContact {
    text-align: center;
    padding: 2em 0;
}

.titreContact h3 {
    font-family: 'Pacifico', cursive;
    color: var(--main-color-green);
    font-size: calc(1.4962rem + 0.5038vw + ((100vw - 21.05rem) * (1.5048 - 1) / (85 - 21.05)));
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-thickness: 1px;
}

/* ----------Les boites------------- */
.contact-box {
    display: flex;
    margin-bottom: 4em;
}

.contact-form-wrapper,
.contact-list {
    flex: 1;
}

/* -----------Coté gauche vert---------- */
.contact-list {
    background: var(--main-color-green);
    padding: 2em 0;

}

.contact-list h3 {
    color: var(--main-color);
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: calc(1.2rem + 0.5038vw + ((100vw - 21.05rem) * (1.5048 - 1) / (85 - 21.05)));
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-thickness: 1px;
}

.contact-list h4 i img {
    width: 1.8em;
    height: 1.8em;
    border-bottom: 1px solid var(--main-color);
    padding-bottom: 0.5em;
}

.list {
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.2em;
}

.list p {
    text-align: center;
    font-size: 1.2em;
}

.list .tel p:first-child {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-thickness: 1px;
}


/* -----------Coté droit formulaire---------- */
.contact-form-wrapper {
    background: url(/assets/images/imagesBdr/deco/baby.jpg);
    background-size: cover;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em 0;
    gap: 30px;
}

input,
textarea {
    display: block;
    width: 400px;
    /* margin-bottom: 30px; */
    text-transform: capitalize;
    border: none;
    border-radius: 5px;
    background: rgb(205, 203, 203);
    color: #fff;
    border: 0.5px solid var(--main-color-green);
    color: var(--main-color-black);
    font-size: 16px;
}

input {
    height: 30px;
}

.btn {
    color: #fff;
    border: none;
    background-color: var(--main-color-orange);
    padding: 10px 40px;
    font-size: 15px;
    text-transform: capitalize;
    display: block;
    margin: auto;
    color: var(--main-color);
    cursor: pointer;
    border-radius: 800px;
    transition: .5s;
}

.error{
    color: red;
}

.error p{
    font-size: 12px;
}


.btn:disabled{
    cursor: not-allowed;
}

@media (max-width: 992px) {

    .contactMere {
        width: 100vw;
        margin: 0;
    }

    .contact-box {
        flex-direction: column;
        margin-bottom: 0;
    }

    input,
    textarea {
        width: calc(400px - 120px);
    }

    .titreContact {
        background-color: var(--main-color-green);
        border-top: 1px solid var(--main-color);
    }

    .titreContact h3{
        color: var(--main-color);
    }

    .btn:disabled{
        opacity: 0.8;
    }
}